.download-app{
    text-align: center;
    padding: 7%;
}

.download-app-img{
    padding: 30px 0;
}

@media (max-width:750px) {
    .download-app h1{
        font-size: 25px;
    }

    .download-app-img{
       display: flex;
       justify-content: center;
    }
}