.restaurentCard-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 30px 30px;
    width: auto;
    gap: 40px;
}

.rest-img{
    width: 100%;
}

.rest-img img{
    position: relative;
    cursor: pointer;
    width: 100%;
    border-radius: 25px;
}

.restaurentCard-container .card-details .rest-text{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2px;
}

.restaurentCard-container .card-details .rest-text .restaurent-name{
    font-size: 24px;
}

.restaurentCard-container .card-details .rest-text .location-menu_button{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.restaurentCard-container .card-details .rest-text .location-menu_button .location{
    font-size: 18px;
}

.restaurentCard-container .rest-text .location-menu_button button{
    padding: 10px;
    background-color: tomato;
    font-size: 16px;
    border: none;
    color: #fff;
    border-radius: 25px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.501);
    transition: .5s;
    cursor: pointer;
}

.restaurentCard-container .card-details .rest-text .location-menu_button button:hover{
    background-color: #fff;
    color: tomato;
}

@media (max-width:1000px){

    .restaurentCard-container .card-details .rest-text .restaurent-name{
        font-size: 16px;
    }

    .restaurentCard-container .rest-text .location-menu_button button{
        padding: 10px 15px;
        font-size: 10px;
    }
}

@media (max-width:880px){

    .restaurentCard-container .card-details .rest-text .restaurent-name{
        font-size: 16px;
    }

    .restaurentCard-container .rest-text .location-menu_button button{
        padding: 10px 10px;
        font-size: 10px;
    }
    .restaurentCard-container .card-details .rest-text .location-menu_button .location{
        font-size: 16px;
    }
}



@media (max-width:836px){

   .restaurentCard-container .card-details .rest-text .location-menu_button{
    flex-direction: column;
   }
   .restaurentCard-container .card-details .rest-text{
    align-items: start;
    justify-content: start;
    width: 100%;
    /* padding: 2px; */
}
   .restaurentCard-container .card-details .rest-text .location-menu_button button{
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 10px;
   }
}

@media(max-width:750px){

    .restaurentCard-container{
        grid-template-columns: repeat(3,1fr);
    }
}

@media(max-width:600px){
    .restaurentCard-container{
        grid-template-columns: repeat(2,1fr);
        
    }
}

@media(max-width:450px){
    .restaurentCard-container .card-details .rest-text .location-menu_button{
        flex-direction: row;
        gap: 20px;
       }

    .rest-img img{
        width: 100%;
    }

    .restaurentCard-container{
        grid-template-columns: repeat(1,1fr);
        /* width: 100%; */
    }

    .restaurentCard-container .card-details .rest-text .restaurent-name{
        font-size: 32px;
    }

    .restaurentCard-container .card-details .rest-text .location-menu_button button{
        /* margin-top: 10px; */
        padding: 15px 30px;
        font-size: 17px;
    }

    .restaurentCard-container .card-details .rest-text .location-menu_button .location{
        font-size: 24px;
    }
}
