.sidebar{
    width: 100%;
    border-top: 0;
    font-size: max(1vw,10px);
    padding-bottom: 10px;
}

.sidebar-options{
    /* border-top: 1px solid gray; */
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.sidebar-option{
    display: flex;
    width: 15%;
    align-items: center;
    justify-content: center;
    gap: 12px;
    border: 1px solid #a9a9a9;
    padding: 6px 10px;
    border-radius: 1px 0 0 3px;
    cursor: pointer;
}

.sidebar-option img{
    width: 15px;
}

.sidebar-option.active{
    background-color: #fff0ed;
    border: 1px solid tomato;
}


@media (max-width:500px){
    .sidebar-option p{
        display: none;
    }
}