.menu-list-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 13px 10%;
}

.menu-list-container img{
    width: 10%;
}

.food-details{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 15px 0px;
    border-bottom: 3px solid black;
}

.food-details .food-name,.food-price,.food-category{
    display: flex;
}

.food-details button{
    padding: 10px 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.food-details button img{
    width: 15px;
    height: 15px;
    text-align: center;
}

.remove-button{
    background-color: #ffe8e4;
    border: 1px solid tomato;
    padding: 10px 30px;
    color: black;
    cursor: pointer;
}