#explore-menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#explore-menu h1{
    text-align: center;
    color: #262626;
    font-weight: 500;
}

.explore-menu-text {
    text-align: center;
    max-width: 100%;
    color: #808080;
}

.explore-menu-list{ 
    display: grid;
    grid-template-columns: repeat(8,1fr);
    gap: 30px;
    text-align: center;
    margin: 20px 0;
    overflow-x: scroll;
}

.explore-menu-list a{
    transition: .5s all;
}

.explore-menu-list::-webkit-scrollbar{
    display: none;
}

.explore-menu-list-item img{
    width: 10vw; 
    min-width: 80px;
    cursor: pointer;
    border-radius: 50%;
    transition: .5s all ;
}

.explore-menu-list-item p{
    margin-top: 10px;
    color: #747474;
    font-size: max(1.4vw,16px);
    cursor: pointer;
}

#explore-menu hr{
    margin: 10px 0;
    height: 2px;
    background-color: #e2e2e2;
    border: none;
}

.explore-menu-list-item .active{
    border-bottom: 4px solid tomato;
    padding: 5px;
}


@media (max-width:1050px) {
    #explore-menu h1{
        font-size:20px;
        padding: 10px 30px;
    }
    .explore-menu-text{
        max-width: 100%;
        font-size: 14px;
    }
}

@media (max-width:700px) {

    #explore-menu h1{
        font-size:15px;
        padding: 10px 60px;
    }
    .explore-menu-text{
        max-width: 100%;
        font-size: 14px;
        margin: 0 30px;
    }

}

@media (max-width:550px) {
    #explore-menu h1{
        font-size:12px;
        padding: 10px 30px;
    }

}
